.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.categories {
  min-height: 5%;
  width: 100%;
  overflow-x: scroll;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
