.upper{
    position: absolute;
    top: 0;
    min-height: 9%;
}

.middle{
    position: absolute;
    top: 8%;
    min-height: 6%;
    width: 98%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.bottom{
    position: absolute;
    bottom: 0;
    height: 86%;
    overflow: scroll;
}