.container {
  display: flex;
  flex-direction: column;
}

.categories {
  min-height: 5%;
  width: 100%;
  overflow-x: scroll;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}
