.upper{
    position: absolute;
    top: 0;
    min-height: 8%;
    width: 100%;
}

.middle{
    position: absolute;
    top: 7%;
    min-height: 5%;
    width: 100%;
    overflow: scroll;
}

.bottom{
    position: absolute;
    bottom: -1%;
    height: 86%;
    overflow: scroll;
}