.descriptionWrapper{
    width: 94%;
    height: 20%;
    border-radius: 20px;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 1px 1px rgb(67, 67, 67);
}
.views{
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 0.5%;
    color: black;
    font-size: small;
    font-weight: 700;
}
.description{
    margin-left: 3%;
    color: black;
    font-size: small;
    font-weight: 700;
    top:-100px;
}