.VideoDisplay {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: start;
}

.videoPlayerContainer {
  margin: 0px 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
}

.videoWrapper {
  width: 60vw;
  border-radius: 15px;
}

.loading {
  display: block;
  margin: auto;
}

.sideList {
  margin: 0px 20px;
  max-width: 25vw;
  min-width: 15vw;
}

.decriptionWrapper {
  padding: 10px;
  width: 100%;
}

.metaData {
  padding-top: 10px;
  display: flex;
  height: fit-content;
  flex-direction: row;
  width: 100%;
}

.CommentsWrapper {
  margin-top: 4vh;
  width: 100%;
  height: 5%;
}

iframe {
  min-height: 60vh;
  min-width: 60vw;
}
