.darkModeButton {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
}

body.dark-mode .darkModeButton {
  background-color: #1abc9c;
  color: #2c3e50;
}
