.profileImage {
  margin: 10px;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  border-width: 0px;
  cursor: pointer;
}

.user {
  display: block;
  cursor: pointer;
  font-weight: bold;
}

.reply {
  cursor: pointer;
}

.commentWrapper {
  display: flex;
  flex-direction: row;
}
.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.time {
  color: gray;
  font-size: 13px;
  margin: 3px;
  margin-bottom: 7px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 7px;
  border: none;
  box-shadow: 1px 1px black;
  margin: 10px;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: nowrap;
}

.changeWrapper {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.editText {
  width: 20vw;
  height: 4vh;
}
