.button {
  margin: 10px;
  background-color: white;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  border-width: 0px;
  align-items: center;

  cursor: pointer;
}

.button:hover {
  background-color: rgb(229, 226, 226);
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#profileImage {
  margin: 10px;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  border-width: 0px;
  cursor: pointer;
}

#icon {
  font-size: x-large;
}

.signBtn {
  font-weight: 600;
  border-radius: 4vh;
  border: solid;
  padding: 5px;
  margin-left: 10px;
  background-color: rgba(242, 242, 242, 255);
  border: none;
  box-shadow: 1px 1px 1px 1px black;
}

.userWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
