
.imgContainer{
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 20px;
    margin-left: 40px;
}

.Image{
    margin: 20px;
    cursor: pointer;
}

.button{
    margin-top: 22px;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    border-width: 0px;
    align-items: center;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(229, 226, 226);
}
#icon{
    font-size: x-large;
}