.ellipsis :global(.dropdown-toggle) {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.ellipsis :global(.dropdown-toggle:focus),
.ellipsis :global(.dropdown-toggle:active) {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.ellipsis :global(.dropdown-toggle::after) {
  display: none !important;
}
