.ButtonField{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50px;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding-top: 18px;
    font-weight: bold;
    text-shadow: 0.3px 0.3px #747474;
}
.ButtonField:hover{
    background-color:  rgba(242,242,242,255);
    cursor: pointer;
}
.svgContainer{
    margin: 40px;
    margin-top: 22px;
}
#icon{
    font-size: x-large;
}

