
#button_addon2:hover{
    background-color: rgba(240,240,240,255);
}

#button_addon2{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgba(248,248,248,255);
    justify-content: center;
    align-items: center;
}

#form{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: rgb(134, 133, 133);
    width: 350px;
    height: 40px;
    cursor:text;
}

#input{
    margin: 20px;
    border-radius: 50px;
    width: 100%;
}

#icon{
    color: black;
}