#wrapper{
    height: 100vh;
    max-height: 100vh;
}

#container{
  position: absolute;
  top: 9vh;
  width: 80vw;
  height: 90vh;
  overflow: scroll;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}