.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.no-padding {
  padding: 0;
}

.userPageBtns {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.userBtn {
  width: fit-content;
  margin: 10px;
  border: none;
  height: fit-content;
  padding: 5px 10px;
}
