.LeftFeed{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Scrollable{
    height: fit-content;
}

.hr{
    margin-left: 40px;
    width: 70%;
    height: 2px;
    background-color: rgb(134, 133, 133);
    border-width: 0px;
}