.LeftFeed{
    text-align: center;
}

.Scrollable{
    height: 100%;
    overflow-x: scroll;
}

hr{
    margin-left: 40px;
    width: 180px;
    height: 1px;
    background-color: rgb(199, 197, 197);
    border-width: 0px;
}