.buttonsWrapper{
    width: 94%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileImage{
    margin: 10px;
    border-radius: 30px;
    height: 6vh;
    width: 6vh;
    border-width: 0px;
    cursor: pointer;
}

.likedDislikedWrapper{
    margin: 20px;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px rgba(50, 50, 50, 0.802);
}

.likedBtn{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 4vh;
    width: 4vw;
    border: solid;
    border-width: 0px;
    border-right-width: 0.5px;
    border-right-color: gray;
    background-color: rgb(225, 225, 225);
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.dislikedBtn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 4vh;
    width: 4vw;
    border-width: 0px;
    background-color: rgb(225, 225, 225);
    justify-content: left;
    display: flex;
    flex-direction: row;
}

.userName{
    font-size: large;
    font-weight: bold;
    margin-top: 1%;
}

.shareButton{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: solid;
    border-width: 0px;
    background-color: rgb(225, 225, 225);
    box-shadow: 1px 1px rgba(50, 50, 50, 0.802);
}

.trashIcon{
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
}

.num{
    font-size: 14px;
}