.Feed{
    display: flex;
    flex-direction: row;
    width: 99vw;
    overflow: hidden;
}

.Right{
    position: absolute;
    right: 0vw;
    width: 80vw;
    height: 96vh;
    max-width: 80vw;
    overflow: hidden;
}

.Left{
    position: absolute;
    left: 0vw;
    width: 20vw;
    height: 94vh;
    overflow: hidden;
}