.VideoDisplayWrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

.LeftVideoShowWrapper {
  height: 100vh;
  width: 70vw;
  position: absolute;
  left: 0;
}

.SuggestedVideosWrapper {
  height: 100vh;
  width: 30vw;
  position: absolute;
  right: 0;
  text-align: center;
}

.LeftVideoShowWrapper {
  width: 100%;
  height: 100%;
}

.UpperVideoWrapper {
  width: 100%;
  height: 95%;
}
.CommentsWrapper {
  width: 100%;
  height: 5%;
}

.videoPlayer {
  aspect-ratio: 1.77777778;
  margin-left: 7%;
  padding: 0px !important;
  border-radius: 3%;
}

.videoPlayerWrapper {
  width: 100%;
  height: 100%;
}
.textWrapper {
  margin-top: 1%;
  margin-left: 7%;
}

iframe {
  min-height: 60vh;
  min-width: 60vw;
}

h2 {
  font-weight: 600;
  letter-spacing: 1%;
}
