.LeftMenu {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
  height: fit-content;
  margin: 0px 40px;
}

.hr {
  align-self: center;
  width: 70%;
  height: 2px;
  background-color: rgb(134, 133, 133);
  border-width: 0px;
}
