.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  background-attachment: fixed;
  animation: backgroundGradient 10s ease infinite;
}

.signup-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  animation: fadeIn 1s ease-in-out;
}

.signup-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #185da6;
  margin-right: 40px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.icon {
  position: absolute;
  left: 10px;
  font-size: 1.5em;
  color: #999;
}

.input-field {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px 10px 35px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 1em;
}

.input-field:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.submit-button {
  background-color: #0a63c2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 90%;
  margin-right: 100px;
  font-size: 1em;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.return-login {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  margin-right: 50px;
}

.return-login:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .signup-container {
    padding: 20px;
  }

  .signup-title {
    font-size: 2em;
  }
}