/* Signup form styling */
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  animation: fadeIn 1s ease-in-out;
}

.signup-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #185da6;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.input-group i {
  position: absolute;
  left: 10px;
  font-size: 1.5em;
  color: #999;
}

.input-field {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px 10px 40px; /* Adjusted padding to accommodate the icon */
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 1em;
}

.input-field:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.submit-button {
  background-color: #0a63c2;
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 90%;
  font-size: 1em;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.return-login {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.return-login:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .signup-container {
    padding: 20px;
  }

  .signup-title {
    font-size: 2em;
  }
}

/* Dark mode styles */
.dark-mode .signup-page {
  background: linear-gradient(135deg, #3c5666, #558594);
}

.dark-mode .signup-container {
  background: rgba(44, 62, 80, 0.9);
}

.dark-mode .signup-title {
  color: #ecf0f1;
}

.dark-mode .input-group i {
  color: #bdc3c7;
}

.dark-mode .input-field {
  background-color: #34495e;
  color: #ecf0f1;
  border-color: #2c3e50;
}

.dark-mode .input-field:focus {
  border-color: #1abc9c;
  box-shadow: 0 0 8px rgba(26, 188, 156, 0.2);
}

.dark-mode .submit-button {
  background-color: #1abc9c;
  color: #2c3e50;
}

.dark-mode .submit-button:hover {
  background-color: #16a085;
  box-shadow: 0 6px 12px rgba(26, 188, 156, 0.2);
}

.dark-mode .return-login {
  color: #1abc9c;
}
