.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}

.darkModeButton {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
}

body.dark-mode .darkModeButton {
  background-color: #ecf0f1;
  color: #2c3e50;
}
