.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100vw;
}

.upperButtonsWrapper {
  position: absolute;
  right: 3%;
}

.logo {
  margin-left: 25px;
}

.searchWrapper {
  margin-left: 20%;
}

.darkModeButton {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
}

body.dark-mode .darkModeButton {
  background-color: #ecf0f1;
  color: #2c3e50;
}
