.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: -4vh;
    width: 100vw;
}

.upperButtonsWrraper{
    position: absolute;
    right: 3vw;
}

.searchWrraper{
    margin-left: 20vw;
}