.feedVideoCard {
  display: flex;
  height: fit-content;
  width: 325px;
  flex-direction: column;
  margin: 25px 15px;
  padding: 0px 5px;
}

.sideListVideoCard {
  display: flex;
  height: fit-content;
  width: 450px;
  flex-direction: row;
  margin-bottom: 25px;
  padding: 0px 5px;
}

#videoImage {
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 16 / 9;
  box-shadow: 2px 2px rgba(110, 110, 110, 0.05);
}

#videoImage:hover {
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-radius;
  transition-delay: 10ms;
  transition-timing-function: linear;
}

#profileImage {
  cursor: pointer;
}

.videoDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.titleWrapper {
  margin-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.metaData {
  padding-top: 10px;
  display: flex;
  height: 100%;
  flex-direction: row;
  min-width: 200px;
}

#title {
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
}

#title h2 {
  font-weight: bold;
  size: 0.6em;
  letter-spacing: 50%;
  padding: 10px;
  margin-bottom: 5px;
}
