.videoCard {
  display: flex;
  flex-direction: column;
  margin: 25px 15px;
}

#videoImage {
  border-radius: 2vw;
  aspect-ratio: 16 / 9;
  max-width: 30%;
  min-width: 23%;
  width: 100%;
  box-shadow: 2px 2px rgba(110, 110, 110, 0.05);
}

#videoImage:hover {
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-radius;
  transition-delay: 10ms;
  transition-timing-function: linear;
}

.metaData {
  display: flex;
  flex-direction: row;
}

.titleWrapper {
  margin-left: 20px;
}
#title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
}
#user {
  font-size: 13px;
  font-weight: 500;
  color: rgb(110, 110, 110);
  margin-bottom: 5px;
}
#views {
  font-size: 12px;
  font-weight: 500;
  color: rgb(110, 110, 110);
}
