.commentsWrapper{
    margin-left: 7%;
    margin-top: 1%;
}

.profileImage{
    margin: 10px;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    border-width: 0px;
    cursor: pointer;
}

.addCommentWrapper{
    width: 100%;
}

input {
    width: 80%;
    border: solid;
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
}

.button{
    background-color: rgba(0, 34, 255, 0.700);
    margin-right: 5px;
    border: solid;
    border-radius: 15px;
    padding: 5px;
    border-color: rgba(0, 34, 255, 0.700);
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.buttonDisabled{
    background-color: rgba(149, 149, 153, 0.934);
    margin-right: 5px;
    border: solid;
    border-radius: 15px;
    padding: 5px;
    border-color: rgba(149, 149, 153, 0.934);
    font-weight: bold;
    color: black;
}