.videoDetails {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: 100%;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.metaData {
  padding-top: 10px;
  display: flex;
  height: 100%;
  flex-direction: row;
}

#user {
  font-weight: bold;
}
